---
import { TypographyA, TypographyBlockquote, TypographyCode, TypographyH1, TypographyH2, TypographyH3, TypographyH4, TypographyList, TypographyMuted, TypographyP, TypographySmall } from '@/components/typography/typography';
import { getCollection, getEntry, render, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { dateToDisplayString } from '@/lib/utils';

interface BlogItem {
  post: CollectionEntry<"blog">;
  author: CollectionEntry<"authors">[];
}

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post, author: post.data.author.id },
  }));
}


const { post, author } = Astro.props;
// const author = await getEntry(post.data.author);
const { Content } = await render(post);
---
<Layout>
  <TypographyH1>{post.data.title}</TypographyH1>
  <div class="flex justify-start gap-2 items-center">
    <TypographyMuted>{dateToDisplayString(post.data.pubDate)}</TypographyMuted>
    <TypographyMuted>{' - '}</TypographyMuted>
    <TypographySmall>{author}</TypographySmall>
    </div>
  <Content  components={{
    h1: TypographyH1,
    h2: TypographyH2,
    h3: TypographyH3,
    h4: TypographyH4,
    p: TypographyP,
    a: TypographyA,
    ul: TypographyList,
    blockquote: TypographyBlockquote,
    code: TypographyCode
  }}/>
</Layout>
