---
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';
const posts = await getCollection('blog');

const postsByYear: Record<number, typeof posts> = {};
posts.forEach((post) => {
  const year = post.data.pubDate.getFullYear();
  if (!postsByYear[year]) {
    postsByYear[year] = [];
  }
  postsByYear[year].push(post);
})

---

<Layout>
	<h1>Blog</h1>
	{Object.keys(postsByYear).sort((a, b) => Number(b) - Number(a)).map((year) => (
    <h2>{year}</h2>
    <>
    {postsByYear[Number(year)].sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()).map((post) => (
      <li><a href={`/blog/${post.id}`}>{post.data.title}</a></li>
    ))}
    </>
  ))}
</Layout>

<style>

</style>