---
import { Font } from 'astro:assets';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<Font cssVariable="--font-inter" preload />
	</head>
	<body class="bg-main text-main min-h-screen font-sans w-full">
		<div class="grow mx-auto py-10 px-6 max-w-3xl space-y-4">
			<slot />
		</div>
	</body>
</html>

